<?xml version="1.0" encoding="utf-8" ?>
<!--Author: Tomasz Zwak-->
<!--https://github.com/ttzv/SafeAddress-->
<!--############################-->
<!--Configuration file of SafeAddress AddIn-->
<!--To change or add more safe domains just modify the value under safeDomains key-->
<!--Subsequent values should be separated by comma, don't use spaces-->
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SafeAddress.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="safeDomains" value="companymail.com"/>
  </appSettings>
  <userSettings>
    <SafeAddress.Properties.Settings>
      <setting name="safeDomains" serializeAs="String">
        <value />
      </setting>
    </SafeAddress.Properties.Settings>
  </userSettings>
</configuration>