<?xml version="1.0" encoding="utf-8" ?>
<!--Author: ttzv-->
<!--https://github.com/ttzv/-->
<!--############################-->
<!--Configuration file of RecipientHelper-->
<!--To change or add more safe domains just modify the value under safeDomains key-->
<!--Subsequent values should be separated by comma, don't use spaces-->
<configuration>
  <appSettings>
    <add key="safeDomains" value="companymail.com"/>
  </appSettings>
</configuration>